<h1>Posts</h1>
<LinkTo @route="/" class="link"><h2>Goto Employee Page</h2></LinkTo>
{{#each @model as |one|}}
<h4>{{one.title}}</h4>
<p>{{one.body}}</p>
<h4>{{one.user_id.name}}</h4>
<h4>{{one.user_id.email}}</h4>
<br>
{{/each}}